{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<p>Voici la magnifique page d'accueil avec des informations super importantes...</p>
{% endblock %}
