{% extends 'base.html.twig' %}

{% block title %}App - Symfony{% endblock %}

{% block body %}
    <h1>Bienvenue sur le Projet Symfony</h1>
<p>Voici la magnifique page d'accueil avec des informations super importantes...</p>
{% endblock %}
